</head>
<body>

  <nav>
    <a href="/">
      <div class="logo-container">
        <img src="/images/logoA.png" alt="A mongoose wearing aviator goggles">
        <h1>Mongoose Airlines</h1>
      </div>
    </a>
    <div class="link-container">
      <a href="/flights/new">Add Flight</a>
      <a href="/flights">All Flights</a>
      <a href="/meals/new">Add Meal</a>
    </div>
  </nav>